# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake

# Visual Studio / MSVC
*.sln
*.vcxproj
*.vcxproj.filters
*.pdb
*.iobj
*.ipdb
.vs/
Debug/
Release/
x64/
x86/

# Executables
*.exe
*.dll
demo.exe

# Logs
log.txt
imgui.ini

# OS specific
.DS_Store
Thumbs.db
